<ion-header>
    <ion-toolbar>
        <ion-title>home</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <div class="banner">
        <img src="../../../assets/images/panner1.png" alt="" srcset="">
        <div class="caption ion-padding">
            Choose Your Favorite<br>Dream Car
        </div>
        <div class="search">
            <ion-item lines="none" class="ion-no-padding">
                <ion-icon slot="start" name="search-outline"></ion-icon>
                <ion-input [ngModel]="searchKey" placeholder="Search Car" (input)="changing($event)"></ion-input>
                <ion-button slot="end" color="primary">
                    <img src="../../../assets/images/filter.svg" srcset="">
                </ion-button>
            </ion-item>
        </div>
    </div>
    <div class="title">
        <h2>Popular Renters</h2>
        <p (click)="navigateToCars()">See All</p>
    </div>
    <div class="car-slider">
        <ion-slides [options]="{loop:false,slidesPerView:'auto',zoom:false,grabCursor:true,centeredSlides:false,spaceBetween:5}">
            <ion-slide class="ion-text-left" *ngFor="let item of cars | filterMarques:searchKey:'Name'">
                <ion-card class="carCard">
                    <ion-card-header style="padding-bottom: 0">
                        <ion-card-title class="hidenn">
                            <div class="test">
                                <div class="NameCars">
                                    {{item.Name}}
                                </div>
                                <div>
                                    <ion-icon slot="end" name="star-outline"></ion-icon>
                                </div>
                            </div>
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content class="hidenn">
                        <div class="Categorie">
                            {{item.Categorie}}
                        </div>
                    </ion-card-content>
                    <ion-img class="testttttttt" src="https://rumbustious-hilltop.000webhostapp.com/API/Photos/cars/{{item.Photo}}" [routerLink]="['/car-details',item?.ID]"></ion-img>
                    <ion-card-header style="padding-bottom: 0">
                        <ion-card-title class="hidenn">
                            <div class="test">
                                <div class="testtt">
                                    <div class="NameCars">
                                        <span style="width: 6rem;">
                                            <img src="./assets/images/user.png">
                                            {{item.PlaceNumber}}
                                        </span>
                                        <span>
                                            <img src="./assets/images/manual.png">
                                            {{item.CarType}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <span style="font-size: 15px;font-weight: 600;color: #107fb6;"> ${{item.PricePerDay}}/Day</span>
                                </div>
                            </div>
                        </ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </div>
    <div class="anotherTitle">
        <h3>Customers Says</h3>
    </div>
    <div class="testimonial-box-container">
        <ion-slides pager="false" [options]="{loop:false,slidesPerView:'auto',zoom:false,grabCursor:true,centeredSlides:false,spaceBetween:5}">
            <ion-slide>
                <div class="testimonia-box">
                    <div class="box-top">
                        <div class="profile">
        
                            <div class="prifile-img">
                                <img src="./assets/images/user.png" alt="">
                            </div>
                            <div class="name-user">
                                <strong>Touseeq Ijaz</strong>
                            </div>
                        </div>
                        <div class="reviews">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                        </div>
                    </div>
                    <div class="coment">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque sunt, repudiandae sed eveniet a ad iste sint vel, libero vero magni perferendis quia commodi doloremque culpa veniam distinctio odio rerum.</p>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="testimonia-box">
                    <div class="box-top">
                        <div class="profile">
        
                            <div class="prifile-img">
                                <img src="./assets/images/user.png" alt="">
                            </div>
                            <div class="name-user">
                                <strong>Touseeq Ijaz</strong>
                            </div>
                        </div>
                        <div class="reviews">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                        </div>
                    </div>
                    <div class="coment">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque sunt, repudiandae sed eveniet a ad iste sint vel, libero vero magni perferendis quia commodi doloremque culpa veniam distinctio odio rerum.</p>
                    </div>
                </div>
            </ion-slide>
        </ion-slides>
        
    </div>

</ion-content>
