ion-header{
    border: none!important;
    box-shadow: none!important;
}
.default-left-padding{
    padding-left: 20px;
}
ion-content{

    border: none;

    .banner{
        border: none;
        width: 100%;
        position: relative;
    }
    img{
        width: 100%;
    }

    .caption{
        position: absolute;
        width: 100%;
        bottom: 2.5rem;
        font-size: 1.5rem;
        text-align: center;
        font-weight: 600;
        padding-right: 1rem;
        padding-left: 1rem;
        color: white;
    }

    .search{
        position: absolute;
        bottom: -1rem;
        width: calc(100% - 36px);
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
        margin-right: 1rem;
        background-color: #fff;
        padding: 5px 0px 5px 15px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0px 3px 12px 2px rgba(0,0,0,.16);
    }

    ion-item{
        --inner-padding-end:0!important;

        ion-input{
            width: 15rem!important;
            --placeholder-color:#212121!important;
            --placeholder-opacity:0.5;
            --place-holder:#21212158!important;
            font-size: 1rem;
        }

        ion-icon{
            color:#21212158!important;
        }

        ion-button{
            height: 30px;
            width: 30px;
            display: flex;
            margin-right: 1rem;
            align-items: center;
            justify-content: center;
            --box-shadow:none;

            img{
                transform: rotateZ(90deg);
            }
        }
    }

    .title{
        display:flex;
        justify-content: space-between;
        margin-top: .3rem;
        padding: 30px 26px 20px 20px;
        align-items: center;
        
        h2{
            margin: 0;
            font-size: 20px;
            font-weight: 600;
            color: #364f68;
        }
    
        p{
            margin: 0;
            font-size: 14px;
            border-radius: 20px;
            padding: .5rem;
            border: 1px solid var(--ion-color-primaryy);
            font-weight: 500;
            color: var(--ion-color-primaryy);
            transition: .2s linear;
        }
        p:active{
            background-color: var(--ion-color-primaryy);
            color: white;
        }
    }

    .car-slider{

        ion-slides{
            padding-left: 1rem;
            padding-right: 1rem;
        }

    }

}
.ion-card{
    width: 3.5rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 1rem 1rem 0.5rem 1rem;
}
.ion-card img{
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.ion-card h2{
    font-weight: 500;
}

ion-label{
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-label span{
    padding-left: .5rem;
}

.ios .refrecher{
    background-color: white;
    color: var(--ion-color-primaryy);
}

.hidenn{
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}
:host ::ng-deep{
    .ion-margin-top{
        margin-top: 0 !important;
    }
    .swiper-wrapper{
        margin-bottom: 0.5rem;
    }
}
.Brand{
    font-weight: 600;
}
.test{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.test:first-child{
    height: 2.5rem;
    img{
        height: 2rem;
    }
}
.NameCars{
    font-size: 16px;
    font-weight: 600;
    font-family: revert;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 110px;
    img{
        width: 37%;
        margin-right: 0.2rem;
    }
}
.Categorie{
    padding: 1px;
}
.testtt{
    display: flex;
    align-items: center;
}
.testttttttt{
    width: 100%;
    height: 150px;
}
.md{
    .carCard{
        height: 20rem; 
        width: 100%;
        border-radius: 20px;
    }
}

.ios{
    .carCard{
        height: 21rem; 
        width: 100%;
        border-radius: 20px;
    }
}
