<ion-header>
    <ion-toolbar>
        <ion-title>account</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item detail routerLink="/cars">
        <ion-icon class="icbn" name="person"></ion-icon>
        <ion-label>Personal Data</ion-label>
    </ion-item>
    <ion-item detail routerLink="/cars">
        <ion-icon class="icbn" name="settings"></ion-icon>
        <ion-label>Settings</ion-label>
    </ion-item>
    <ion-item detail routerLink="/cars">
        <ion-icon class="icbn" name="heart"></ion-icon>
        <ion-label>Favorites</ion-label>
    </ion-item>
    <ion-item detail routerLink="/cars">
        <ion-icon class="icbn" name="headset"></ion-icon>
        <ion-label>Supports</ion-label>
    </ion-item>

</ion-content>
