<ion-header>
    <ion-toolbar>
        <ion-title>booking</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div id="header">
        <div id="app-bar">
            <span></span>
            <ul>
                <li style="background-color: #fff;color: #107FB6;">1</li>
                <li>2</li>
            </ul>
        </div>
    </div>

    <div class="wrapper">
        <ion-card class="form-wrapper">
            <div id="desc">
                <h1>Book Now !</h1>
                <p>Fill details and Get Your Car !</p>
            </div>
            <ion-card-content>
                <form>
                    <ion-list lines="none">
                        <ion-item>
                            <ion-icon name="calendar-sharp"></ion-icon>
                            <input type="text" readonly id="open-date-input-1" [value]="rentDate" placeholder="Renting Date">
                        </ion-item>
                        <ion-popover trigger="open-date-input-1" show-backdrop="true">
                            <ng-template>
                                <ion-datetime
                                    #popoverDatetime1
                                    [min]="today"
                                    showDefaultButtons="true"
                                    (ionChange)="rentDate = formatDate(popoverDatetime1.value)"
                                ></ion-datetime>
                            </ng-template>
                        </ion-popover>
                        <ion-item style="margin-top: 1.3rem;">
                            <ion-icon name="calendar-sharp"></ion-icon>
                            <input type="text" id="open-date-input-2" readonly [value]="returnDate" placeholder="Return Date">
                        </ion-item>
                        <!-- <ion-modal trigger="open-modal">
                            <ng-template>
                                <ion-content>
                                    <ion-datetime
                                        showDefaultButtons="true"
                                        [min]="today"
                                        #popoverDatetime2
                                        presentation="date"
                                        (ionChange)="returnDate = formatDate(popoverDatetime2.value)"
                                    ></ion-datetime>
                                </ion-content>
                            </ng-template>
                        </ion-modal> -->
                        <ion-popover trigger="open-date-input-2" show-backdrop="true">
                            <ng-template>
                                <ion-datetime
                                    [min]="today"
                                    #popoverDatetime2
                                    showDefaultButtons="true"
                                    (ionChange)="returnDate = formatDate(popoverDatetime2.value)"
                                ></ion-datetime>
                            </ng-template>
                        </ion-popover>
                        <ion-item style="margin-top: 1.3rem;">
                            <ion-icon name="call"></ion-icon>
                            <input type="text" placeholder="Enter Your Phone Number">
                        </ion-item>
                        <ion-item style="margin-top: 1.3rem;">
                            <img src="./assets/images/national.png" alt="" srcset="">
                            <input type="text" placeholder="Enter Your National ID">
                        </ion-item>
                        <ion-item style="margin-top: 1.3rem;">
                            <img src="./assets/images/permit.png" alt="" srcset="">
                            <input type="text" placeholder="Enter Your Driver's License">
                        </ion-item>
                        <ion-item style="margin-top: 1.3rem;" lines="none">
                            <ion-icon style="height: 35%;" name="location-sharp"></ion-icon>
                            <ion-textarea rows="6" cols="20" placeholder="Enter Your Address"></ion-textarea>
                        </ion-item>
                        <ion-button expand="block">
                            <span>Next</span>
                            <img src="./assets/images/booking.png" alt="">
                        </ion-button>
                    </ion-list>
                </form>
            </ion-card-content>
        </ion-card>
    </div>

</ion-content>
