<ion-header>
    <ion-toolbar>
        <ion-title>favorites</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="title">
        <h3>My Favorites Cars</h3>
    </div>

    <ion-grid>
        <ion-row>
            <ion-col fixed style="margin-top: -1.5rem;" *ngFor="let item of favoriteCars">
                <ion-card class="carCard">
                    <ion-card-header style="padding-bottom: 0">
                        <ion-card-title class="hidenn">
                            <div class="test">
                                <div class="NameCars">
                                    {{item.Name}}
                                </div>
                                <div>
                                    <ion-icon style="color: #FFBD00" (click)="diFav(item)" slot="end" name="star"></ion-icon>
                                </div>
                            </div>
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content class="hidenn">
                        <div class="Categorie">
                            {{item.Categorie}}
                        </div>
                    </ion-card-content>
                    <ion-img class="testttttttt" src="https://rumbustious-hilltop.000webhostapp.com/API/Photos/cars/{{item.Photo}}"></ion-img>

                    <ion-card-header style="padding-bottom: 0">
                        <ion-card-title class="hidenn">
                            <div class="test">
                                <div class="testtt">
                                    <div class="NameCars">
                                        <span>
                                            <img src="./assets/images/user.png">
                                            {{item.PlaceNumber}}
                                        </span>
                                        <span>
                                            <img src="./assets/images/manual.png">
                                            {{item.CarType}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <span style="font-size: 15px;font-weight: 600;color: #107fb6;"> $ {{item.PricePerDay}}/Day</span>
                                </div>
                            </div>
                        </ion-card-title>
                    </ion-card-header>

                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col></ion-col>
        </ion-row>
        <ion-row>
            <ion-col></ion-col>
        </ion-row>
        <ion-row>
            <ion-col></ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
