<ion-header>
    <ion-toolbar>
        <ion-title>cars</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher class="refrecher" style="margin-top: 3rem;" slot="fixed" (ionRefresh)="doRefresh($event)">
        <!-- <ion-spinner color="primary" class="page-loader"></ion-spinner> -->
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
        <ng-container *ngIf="contentLoader">
            <div class="d-flex">
                <div>
                    <span class="Brand">Brands</span>
                </div>
                <div>
                    <span class="ticket" (click)="filter('')">View All</span>
                </div>
            </div>
        <ion-slides [options]="options" class="ion-margin-top">
    
            <ion-slide *ngFor="let item of marques">
                <ion-card (click)="filter(item.Libelle)" class="ion-card">
                    <img src="https://rumbustious-hilltop.000webhostapp.com/API/Photos/Marques/{{item.Photo}}">
                </ion-card>
            </ion-slide>
        </ion-slides>
        </ng-container>

    <ng-container *ngIf="!contentLoader">
        <div class="d-flex">
            <div>
                <span class="Brand">
                    <ion-skeleton-text animated style="width: 100px"></ion-skeleton-text>
                </span>
            </div>
            <div>
                <span>
                    <ion-skeleton-text animated style="width: 100px; height: 30px; border-radius: 20px;"></ion-skeleton-text>
                </span>
            </div>
        </div>
    <ion-slides [options]="options" class="ion-margin-top">

        <ion-slide *ngFor="let item of marques">
            <ion-card (click)="filter(item.Libelle)" class="ion-card">
                <ion-skeleton-text animated style="width: 100%;height: 100%;"></ion-skeleton-text>
            </ion-card>
        </ion-slide>
    </ion-slides>
    </ng-container>

    <ion-grid>
        <!-- <ion-row>
            <ion-col size="12">
                <ion-card>
                    <ion-item>
                        <ion-label> <ion-icon name="locate"></ion-icon> <span>Categories</span></ion-label>
                        <ion-select interface="popover" [(ngModel)]="selected" (ngModelChange)="helli()">
                            <ion-select-option value="">All</ion-select-option>
                            <ion-select-option *ngFor="let item of cate" [value]="item">{{item.Description}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row> -->
        <ion-row>
            <ng-container *ngIf="contentLoader">
            <ion-col fixed style="margin-top: -.7rem;" *ngFor="let item of filterMarques; let i = index">
                <ion-card class="carCard">
                    <ion-card-header style="padding-bottom: 0">
                        <ion-card-title class="hidenn">
                            <div class="test">
                                <div class="NameCars">
                                    {{item.Name}}
                                </div>
                                <div>
                                    <ion-icon slot="end" (click)="favourie(item,true)" *ngIf="!item.isFavorite" name="star-outline"></ion-icon>
                                    <ion-icon  (click)="disfavourie(item,false)" style="color: #FFBD00" *ngIf="item.isFavorite" slot="end" name="star"></ion-icon>
                                </div>
                            </div>
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content class="hidenn">
                        <div class="Categorie">
                            {{item.Categorie}}
                        </div>
                    </ion-card-content>
                    <ion-img class="testttttttt" src="https://rumbustious-hilltop.000webhostapp.com/API/Photos/cars/{{item.Photo}}" (click)="openModel(item.ID)"></ion-img>

                    <ion-card-header style="padding-bottom: 0">
                        <ion-card-title class="hidenn">
                            <div class="test">
                                <div class="testtt">
                                    <div class="NameCars">
                                        <span>
                                            <img src="./assets/images/user.png">
                                            {{item.PlaceNumber}}
                                        </span>
                                        <span>
                                            <img src="./assets/images/manual.png">
                                            {{item.CarType}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <span style="font-size: 15px;font-weight: 600;color: #107fb6;"> $ {{item.PricePerDay}}/Day</span>
                                </div>
                            </div>
                        </ion-card-title>
                    </ion-card-header>

                </ion-card>
            </ion-col> 
            </ng-container>
            
            <ng-container *ngIf="!contentLoader">
                <ion-col fixed style="margin-top: -.7rem;" *ngFor="let item of filterMarques; let i = index">
                    <ion-card class="carCard">
                        <ion-card-header style="padding-bottom: 0">
                            <ion-card-title class="hidenn">
                                <div class="test">
                                    <div class="NameCars">   
                                        <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                                    </div>
                                    <div>
                                        <ion-skeleton-text animated style="width: 20px;height:20px ;"></ion-skeleton-text>
                                    </div>
                                </div>
                            </ion-card-title>
                        </ion-card-header>
                        <ion-card-content class="hidenn">
                            <div class="Categorie">
                                <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
                            </div>
                        </ion-card-content>
                        <ion-skeleton-text animated style="width: 90%; height: 50%;margin: auto;"></ion-skeleton-text>
                        <ion-card-header style="padding-bottom: 0">
                            <ion-card-title class="hidenn">
                                <div class="test">
                                    <div class="testtt">
                                        <div class="NameCars">
                                            <span style="display: flex;">
                                                <ion-skeleton-text animated style="width: 100px;height:20px ;"></ion-skeleton-text>
                                            </span>
                                            <span style="display: flex;">
                                                <ion-skeleton-text animated style="width: 50px;height:20px ;"></ion-skeleton-text>
                                            </span>
                                        </div>
                                    </div>
                                    <div>
                                        <span style="font-size: 15px;font-weight: 600;color: #107fb6;">
                                            <ion-skeleton-text animated style="width: 50px;height:20px ;"></ion-skeleton-text>
                                        </span>
                                    </div>
                                </div>
                            </ion-card-title>
                        </ion-card-header>
    
                    </ion-card>
                </ion-col>
            </ng-container>
            
            <ion-infinite-scroll threshold="5%" (ionInfinite)="loadData($event)">
                <ion-infinite-scroll-content
                    loadingSpinner="bubbles"
                    loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </ion-row>
        <ion-row>
            <ion-col></ion-col>
        </ion-row>
        <ion-row>
            <ion-col></ion-col>
        </ion-row>
        <ion-row>
            <ion-col></ion-col>
        </ion-row>

        <ion-spinner name="lines" color="primary" *ngIf="showPages" class="page-loader"></ion-spinner>
    </ion-grid>
</ion-content>
