<ion-content>

    <div class="ion-content">
        <div class="header">
            <h4>Car Rental</h4>
        </div>
    
        <div class="photo">
            <img src="./assets/images/wlcome.png" alt="" srcset="">
        </div>
    
        <div class="content">
            <h1>Book Car in Easy Steps</h1>
            <p>Renting car brings your freedom and we'll help you to find the best car for you at great pice.</p>
    
            <div class="stars">
                <div class="star">
                    <ion-icon name="star"></ion-icon>
                </div>
                <div class="star">
                    <ion-icon name="star"></ion-icon>
                </div>
                <div class="star">
                    <ion-icon name="star"></ion-icon>
                </div>
                <div class="star">
                    <ion-icon name="star"></ion-icon>
                </div>
                <div class="star">
                    <ion-icon name="star-half"></ion-icon>
                </div>
            </div>
            <p style="margin-top: .4rem;">Trust by milion customers .</p>
        </div>
    
        <div class="buttons">
            <button class="buttonSignin" routerLink="/login">Sign In</button>
            <button class="buttonRegister" routerLink="/register">Register</button>
        </div>
    </div>

</ion-content>
