<ion-header>
    <ion-toolbar>
        <ion-title>support</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="head">
        <h2>WE ARE BY YOUR SIDE!</h2>
        <h4>Choose the one that suits your situation</h4>
    </div>
    <div class="cards">
        <ion-card>
            <ion-card-content>
                <div class="image">
                    <ion-icon name="mail-sharp"></ion-icon>
                </div>
                <div class="content">
                    <span>
                        By Email At <span>support@example.com</span>
                    </span>
                </div>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <div class="image">
                    <ion-icon name="phone-portrait-sharp"></ion-icon>
                </div>
                <div class="content">
                    <span>
                        By Phone Number At <span>+212589241102</span>
                    </span>
                </div>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
