<ion-content>
    <form [formGroup]="loginForm">
        <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="text" required></ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" type="password" required></ion-input>

        </ion-item>
        <ion-row>
            <ion-col>
                <ion-button type="submit" color="primary" expand="block" (click)="login()">Sign In</ion-button>
                <!-- <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a> -->
            </ion-col>
        </ion-row>
    </form>

    <!-- {{loginForm.value | json}} -->
    <!-- <ion-button (click)="alert()">Hello</ion-button> -->

</ion-content>
