<ion-content>
    <div class="header">
        <div class="title">
            <h3>Notifications</h3>
        </div>
        <div class="makeRead">
            <img src="./assets/images/mkasrd.png" alt="" srcset="">
            <span>Mark as read</span>
        </div>
    </div>
    <ion-list>
        <ion-item-sliding *ngFor="let item of notifications,let i = index">
            <ion-item class="d-flex">
                <div class="row">
                    <div class="content">
                        <h6>{{item.title}}</h6>
                        <p>{{item.description}}</p>
                        <label>{{item.dateTimeNotification}}</label>
                    </div>
                </div>
            </ion-item>
            <!-- <ion-item-options side="end" (ionSwipe)="delete()"> -->
            <ion-item-options side="end">
                <ion-item-option color="danger" expandable (click)="delete()">
                    <ion-icon name="trash-outline"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>